name: Build, Test & Deploy App to AKS
on: [push]
jobs:
  # Job to build the container image and push it to GitHub CR
  build-image-and-push:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: app
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Build Container Image
        run: docker build . -t ghcr.io/${{ github.repository_owner }}/liatrio-app-${{ github.ref_name }}:latest
      
      - name: Login to ghcr.io
        run: echo "${{ secrets.GITHUB_TOKEN }}" | docker login ghcr.io -u ${{ github.actor }} --password-stdin

      - name: Push image
        run: docker push ghcr.io/${{ github.repository_owner }}/liatrio-app-${{ github.ref_name }}:latest

  # Job to deploy the app to K8S using Helm
  deploy-app:
    if: github.ref_name == 'main'
    runs-on: ubuntu-latest
    steps:
      - name: helm apply
        run: echo "TODO"