name: Deploy AWS Cloud Infrastructure
on: 
  push:
    paths:
      - terraform/*
      - .github/workflows/deploy_infra.yaml
jobs:
  # Job to deploy the infrastructure using Terraform
  deploy-infrastructure:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: terraform
    env:
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      AWS_DEFAULT_REGION: ${{ secrets.AWS_DEFAULT_REGION }}
      TF_VAR_vpc_id: ${{ secrets.AWS_VPC_ID }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v1

      - name: tf init
        run: terraform init

      - name: tf validate
        run: terraform validate

      - name: tf plan
        run: terraform plan -no-color

      - name: tf apply
        if: github.ref_name == 'main'
        run: terraform apply -auto-approve -no-color

  deploy-app:
    needs: deploy-infrastructure
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Install helm
        run: curl https://raw.githubusercontent.com/helm/helm/main/scripts/get-helm-3 | bash

      - name: Deploy app 
        run: |
          helm install \
            -f helm/values.yaml \
            --set image.branchName={{ github.ref_name }}
            k8s-app \
            ./helm